@import './core.scss';

.comment-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $sc-light-grey;
  margin: 20px 0px;
  height: 40px;
  width: 100%;

  form {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
  }
}

.comment-input-picture {
  height: 40px;
  width: 40px;
}

.comment-input {
  display: inline-block;
  height: 25px;
  width: inherit;
  
  &:hover {
    cursor: pointer;
  }
}

.comment-header {
  display: flex;
  flex-direction: row;

   p {
     color: $sc-arrow-grey;
     font-size: 15px;
   }

   img {
     height: 15px;
     width: 15px;
     margin-right: 5px;
   }
}

.comment {
  display: flex;
  flex-direction: row;
  padding: 5px 0px;
}

.comment-picture {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.comment-except-picture {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.comment-layer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.comment-username {
  color: $sc-arrow-grey;
  font-size: 13px;

  &:hover {
    color: $sc-dark-black;
  }
}

.comment-body {
  color: $sc-dark-black;
  font-size: 13px;
}

.delete-comment-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $sc-white;
  height: 25px;
  width: 25px;
  border: solid $sc-light-black 1px;
  padding: 3px 5px;

  img {
    height: 17px;
    width: 17px;
  }

  &:hover {
    border: solid $sc-hover-grey 1px;
  }
}