@import './core.scss';

.continuous-player-and-sidebars {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  height: 45px;
  width: 100%;
  border-top: solid $sc-border-grey 1px;
}

.continuous-player {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: inherit;
  background-color: $sc-light-grey;
  flex: 0 0 1200px;
}

.continuous-player-sidebar {
  background-color: $sc-light-grey;
  height: inherit;
}

.continuous-play-pause-button,
.continuous-loop-button,
.volume-button {
  height: auto;
  border: none;
  align-self: stretch;
}

.volume-button {
  position: relative;
  padding-right: 20px;
}

#volume-slider-container {
  position: absolute;
  bottom: 80px;
  margin-left: -50px;
  transform: rotate(270deg);
  background-color: $sc-light-grey;
  border: solid $sc-border-grey 1px;
  padding: 5px 12px;
  height: 35px;
  width: 120px;
}

#volume-slider {
  height: 100%;
  width: 100%;
  -webkit-appearance: none;
  background: transparent;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &::-webkit-slider-runnable-track {
    height: 2px;
    background-color: $sc-orange;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    border: none;
    border-radius: 50%;
    background-color: $sc-orange;
    cursor: pointer;
    margin-top: -3px;
  }

  &::-moz-range-track {
    height: 2px;
    background-color: $sc-orange;
  }

  &::-moz-range-thumb {
    height: 8px;
    width: 8px;
    border: none;
    border-radius: 50%;
    background-color: $sc-orange;
    cursor: pointer;
  }
}

.player-icon {
  height: 20px;
  width: 20px;
}

.current-start-time {
  color: $sc-orange;
  padding-left: 30px;
  padding-right: 10px;
}

.current-end-time {
  color: $sc-dark-black;
  padding-left: 10px;
  padding-right: 30px;
}

.containing-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  height: 100%;
}

.current-grey-bar {
  background-color: $sc-light-black;
  flex: 1;
  height: 1px;
}

.current-orange-bar {
  background-color: $sc-orange;
  height: inherit;
  width: 100px;
}

.current-track-details {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: 100px;

  .current-artist-name {
    color: $sc-light-black;
    font-size: 13px;
  }

  .current-track-name {
    color: $sc-dark-grey;
    font-size: 15px;
  }
}