$sc-orange: #FF5000;
$sc-light-grey: #F2F2F2;
$sc-dark-grey: #333333;
$sc-light-black: #CBCBCB;
$sc-dark-black: #111111;
$sc-white: #FFFFFF;

#app-div {
  background: $sc-light-grey;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 15%;
  padding-right: 15%;
}

button {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
}