$sc-orange: #FF5000;
$sc-hover-orange: #B35E33;
$sc-light-grey: #F2F2F2;
$sc-dark-grey: #333333;
$sc-hover-grey: #666666;
$sc-arrow-grey: #999999;
$sc-light-black: #CBCBCB;
$sc-border-grey: #CECECECE;
$sc-dark-black: #111111;
$sc-white: #FFFFFF;

#app-div {
  background: $sc-light-grey;
  font-family: Arial, Helvetica, sans-serif;
}

#content-and-sidebars, header, footer {
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex: 1 1 auto;
}

.content {
  padding-top: 45px;
  height: 100%;
  flex: 0 0 1200px;
}

.content-sidebar {
  background: $sc-light-grey;
  height: 100%;
}

button {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

button.create-account-button {
  color: $sc-white;
  background-color: $sc-orange;
  border: none;
  font-size: 15px;
  padding: 10px 30px;
  margin: 10px;
}

button.sign-in-button {
  background-color: $sc-white;
  border-color: $sc-light-grey;
  padding: 10px 10px;
}

a {
  color: inherit;
  text-decoration: none;
}