@import './core.scss';

form.session-form {
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 0px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  
  input {
    margin: 10px;
  }

  button {
    background-color: $sc-orange;
    color: $sc-white;
    margin: 10px;
    border: none;
  }
}