@import './core.scss';

.greeting-bar-and-sidebars {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  height: 45px;
  width: 100%;
  z-index: 50;
}

.greeting-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $sc-dark-grey;
  color: $sc-white;
  height: inherit;
  width: 100%;
  flex: 0 0 1200px;

  a {
    height: inherit;
    img.logo-img {
      height: inherit;
    }
  }

  .nav-buttons {
    display: flex;
    align-items: center;
    .sign-in-button {
      background-color: rgba($color: #000000, $alpha: 0.0);;
      color: $sc-white;
    }
  
    .create-account-button {
    }

    .upload-link {
    }
  }
}

.navbar-sidebar {
  background: $sc-dark-grey;
  height: 45px;
}

.search {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;

  
  form {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;

    input {
      flex: 1;
      width: 100%;
      border-radius: 5px;
      border: none;
      background-color: $sc-light-grey;

      &:focus {
        background-color: $sc-white;
      }
    }

    button {
      margin-left: -30px;
      background: transparent;
      border: none;
      z-index: 20;
      
      img {
        height: 15px;
        width: 15px;
      }
    }
  }
}

.nav-button {
  padding-left: 10px;
  padding-right: 10px;
  color: $sc-light-black;
  vertical-align: middle;
  
  &:hover {
    color: $sc-white;
  }
}

.three-dots {
  height: 35px;
  width: 50px;
}

.dots-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
  border: solid $sc-border-grey 1px;
  border-top: none;
  width: 200px;
  background-color: $sc-white;
}

.signout-button {
  background-color: inherit;
  border: none;
  text-align: left;
  font-size: 20px;

  &:hover {
    background-color: $sc-light-grey;
  }
}

.black-back {
  background-color: $sc-dark-black;
}

.navbar-current-user {
  display: flex;
  flex-direction: row;
  align-items: center;

  .navbar-profile-picture {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 5px;
  }

  p {
    color: $sc-light-black;

    &:hover {
      color: $sc-white;
    }
  }
}