@import './core.scss';

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba($sc-light-grey, 0.8);
  z-index: 10;
}

.background-fade-in {
  animation: fade-in 0.4s 1;
}

.background-fade-out {
  animation: fade-out 1s 1;
}

@keyframes fade-in {
  0% {
    background: rgba($sc-light-grey, 0.0);
  }
  100% {
    background: rgba($sc-light-grey, 0.8);
  }
}

@keyframes fade-out {
  0%, 50% {
    background: rgba($sc-light-grey, 0.8);
  }
  100% {
    background: rgba($sc-light-grey, 0.0);
  }
}

.modal-child {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: min-content;
  width: min-content;
  background-color: $sc-white;
}

.modal-descend {
  animation: descend 0.7s 1;
}

.modal-ascend {
  animation: ascend 0.7s 1;
}

@keyframes descend {
  0%, 50% {
    top: -50%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes ascend {
  0%, 70%  {
    bottom: 0%;
  }
  35% {
    top: 50%;
  }
  100% {
    top: -50%;
  }
}

#modal-x-out {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 30px;
  z-index: 11;

  &:hover {
    cursor: pointer;
  }
}