@import './core.scss';

.page-player {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  background: transparent;
}

.page-player-picture {
  height: 150px;
  width: 150px;
  flex: 0 0 150px;
  margin-right: 10px;

  img {
    height: 150px;
    width: 150px;
  }
}

.page-player-except-picture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  background: transparent;
  flex: 1 1 auto;
}

.play-pause-button {
  background-color: $sc-orange;
  color: $sc-white;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  margin: 2px 2px;

  img {
    height: 20px;
    width: 20px;
  }
}

.track-info-and-button {
  display: flex;
  flex-direction: row;
}

.player-track-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.artist-name {
  color: $sc-arrow-grey;
  font-size: 12px;
  margin: 2px 2px;

  &:hover {
    color: $sc-dark-grey;
  }
}

.track-name {
  color: $sc-dark-grey;
  font-size: 18px;
  margin: 2px 2px;
}

.grey-bar {
  position: relative;
  background-color: $sc-light-black;
  width: auto;
  height: 50px;
  margin: 2px 2px;

  &:hover {
    background-color: $sc-hover-grey;
    cursor: pointer;
  }
}

.orange-bar {
  background-color: $sc-orange;
  height: inherit;
}

.hover-orange-bar {
  position: absolute;
  top: 0;
  background-color: $sc-hover-orange;
  height: inherit;
}

.track-times {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .current-time {
    background-color: $sc-dark-black;
    color: $sc-orange;
    font-size: 15px;
    height: 15px;
    margin-top: -15px;
    padding: 1px;
  }
  
  .duration {
    background-color: $sc-dark-black;
    color: $sc-light-black;
    font-size: 15px;
    height: 15px;
    margin-top: -15px;
    padding: 1px;
  }
}

.track-buttons {
  display: flex;
  justify-content: space-between;
  margin: 2px 2px;

  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $sc-white;
    border: solid $sc-light-black 1px;
    padding: 3px 5px;

    img {
      height: 17px;
      width: 17px;
    }

    &:hover {
      border: solid $sc-hover-grey 1px;
    }
  }

  .liked-button {
    border: solid $sc-orange 1px;
    color: $sc-orange;

    &:hover {
      border: solid $sc-orange 1px;
    }
  }
}

.track-data {
  display: flex;
  flex-direction: row;
}

.like-count, .play-count, .comment-count {
  color: $sc-arrow-grey;
  font-size: 14px;
  margin: 0px 5px;

  img {
    height: 12px;
    width: 12px;
    margin: 0px 2px;
  }
}

.comment-count img {
  margin: 0px 4px;
}