@import './core.scss';

.profile-page {
  display: flex;
  flex-direction: column;
  background-color: $sc-white;
  align-items: stretch;
}

.profile-header {
  display: flex;
  flex-direction: row;
  height: 270px;
}

.profile-picture {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 45px;
}

.profile-info {
  margin-left: 20px;
  margin-top: 35px;
}

.profile-name {
  display: inline-block;
  color: $sc-white;
  font-size: 25px;
  background-color: $sc-dark-black;
  padding: 5px;
  margin: 5px 5px;
}

.recent-header {
  color: $sc-dark-black;
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}