@import './core.scss';

div#splash {
  background-color: $sc-white;
  color: $sc-dark-black;
  text-align: center;
  height: 100%;

  p#check-out-message {
    font-size: 25px;
    margin: 50px 0px 0px 0px;
  }

  p#message1 {
    font-size: 35px;
    margin: 100px 0px 0px 0px;
  }

  p#message2 {
    font-size: 25px;
    margin: 10px;
  }

  button.create-account-button {
    // TODO: put custom padding here
  }

  div#signin_message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;

    p#message3 {
      font-size: 15px;
    }

    button.sign-in-button {
      // TODO: put custom padding here
    }
  }
}

#splash-logo-links {
  padding-bottom: 100px;
}

.outside-logo {
  height: 100px;
  width: 100px;
  padding: 20px;
}