@import './core.scss';

.track-background {
}

.track-page-player {
  flex-direction: row;
  display: flex;
  width: auto;
  height: 300px;
  margin: 0px 40px;
}

.track-page-player-picture {
  height: 260px;
  width: 260px;
  flex: 0 0 260px;
  align-self: center;
  margin-left: 20px;
}

.track-page-player-except-picture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
}

.track-play-pause-button {
  background-color: $sc-orange;
  color: $sc-white;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 50%;
  margin: 5px 5px;

  img {
    height: 40px;
    width: 40px;
  }
}

.track-info-and-button {
  display: flex;
  margin-top: 20px;
}

.track-artist-name {
  display: inline-block;
  color: $sc-light-black;
  font-size: 18px;
  background-color: $sc-dark-black;
  padding: 5px;
  margin: 5px 5px;

  &:hover {
    color: $sc-light-grey;
  }
}

.track-track-name {
  display: inline-block;
  color: $sc-white;
  font-size: 30px;
  background-color: $sc-dark-black;
  padding: 5px;
  margin: 5px 5px;
}

.track-grey-bar {
  position: relative;
  background-color: $sc-light-black;
  width: auto;
  height: 100px;
  margin: 20px 5px;
  
  &:hover {
    background-color: $sc-hover-grey;
  }
}

.track-hover-orange-bar {
  background-color: $sc-hover-orange;
  height: inherit;
}

.track-track-times {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .current-time {
    background-color: $sc-dark-black;
    color: $sc-orange;
    font-size: 15px;
    height: 15px;
    margin-top: -15px;
    padding: 1px;
  }
  
  .duration {
    background-color: $sc-dark-black;
    color: $sc-light-black;
    font-size: 15px;
    height: 15px;
    margin-top: -15px;
    padding: 1px;
  }
}

.other-than-player {
  margin: 10px 40px;
}

.track-buttons {
  display: flex;
  flex-direction: row;
}