@import './core.scss';

.upload-page {
  background-color: $sc-white;
  align-items: stretch;
}

.upload-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
  border: 2px solid $sc-light-grey;
}

.upload-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .upload-message {
    font-size: 25px;
  }
  
  .upload-button {
    color: $sc-white;
    background-color: $sc-orange;
    border: none;
    font-size: 15px;
    margin: 10px;
    width: 300px;
    
    label {
      display: inline-block;
      height: inherit;
      width: inherit;
      padding: 10px 30px;
    }
  }
  
  .hidden-input {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}

.upload-track-form-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}